:root{

    --blue: #319dcc;
   --black: #111828;
  --whte:  #f3fbfe;
   --perpul: #ab4fd8;

}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
     font-family: 'Josefin Sans', sans-serif;
}
body{
     overflow-x: none;
}
.container{
    height: 100vh;
    background-image: linear-gradient( 120deg,#319dcc,#ab4fd8 75%);
    text-align: center;
   
    
    
}
.content{
    position: relative;
    top: 300px;
}
.content h1{
    font-size: 6rem;
    text-transform: capitalize;
    color: white;
    margin-bottom: 1.5rem;
    letter-spacing: 5px;
}
.content p{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 1.5rem;

}
.content button{
    padding: 20px 40px;
    text-transform: capitalize;
    color: white;
    background-color: #319dcc;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.content button:hover{
    background-color: #4eaed8;
    transition: 0.3s;
}






@media (max-width:500px){
    .content h1{
        font-size: 3rem;
        text-transform: capitalize;
        color: white;
    }
    .content p{
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 1.5rem;
    
    }
    .content button{
        padding: 15px 20px;
        text-transform: capitalize;
        color: white;
        background-color: #319dcc;
        border: 0;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }

}
@media (max-width:640px){
    .content h1{
        font-size: 3rem;
        text-transform: capitalize;
        color: white;
    }
    .content p{
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 1.5rem;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    
    }
    .content button{
        padding: 15px 20px;
        text-transform: capitalize;
        color: white;
        background-color: #319dcc;
        border: 0;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }
}
@media (min-width:640px) and (max-width:750px){
    .content h1{
        font-size: 3.5rem;
        text-transform: capitalize;
        color: white;
    }
    .content p{
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 1.5rem;
    
    }
    .content button{
        padding: 15px 20px;
        text-transform: capitalize;
        color: white;
        background-color: #319dcc;
        border: 0;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }
}



/* Cuisine section*/


.cuisine{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--whte);
    height: 100vh;
}
.cuisine .card {
    background-color: var(--whte);
    padding: 60px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 16px 1px #4d4d4d83;
    text-align: left;
    
    
}

.cuisine .card h2{
    color: #111828;
    margin: 15px 0;
}
.cuisine .card p{
    line-height: 25px;
}
.cuisine .card button{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #319dcc;
    border: 0;
    cursor: pointer;

}
.cuisine .card img{
    border-radius: 20px;
}
.hide-cuisine-section{
    display: none;
}
/*add media querries*/
@media (max-width:500px){
    .cuisine{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 80%; position: relative;
        top: 650px;
        
    }
    .cuisine .card {
        background-color: var(--whte);
        padding: 40px 10px;
        border-radius: 20px;
        box-shadow: 0 10px 16px 1px #4d4d4d83;
        text-align: left;
        width: 100%;
        
        
    }
    .cuisine .card img{
        border-radius: 20px;
        width: 100%;
    }
    body{
        height: 100vh;
    }
    .container{
        height: 160vh;
        background-image: linear-gradient( 120deg,#fff,#fff 75%);
        text-align: center;
       
        
        
    }
}


